$font-stack: "Helvetica";
$text-color2: #8a8787;
$text-color: #0737a1;
$text-color-secondary: #a6a6a6;
$body-bg-color: rgba(217, 215, 218, 0.71);
$bg-color: #111;
$bg-color-secondary: #1D1D1D;
$conteiner-border-radius: 10px;
$card-border-radius: 5px;
$gradient : linear-grandient(90deg, rgb(3, 63, 215) 0%, rgb(48, 221, 36) 100%)